@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Pick a password", "SetPassword")
            }
        </p>

			<p>
				@if (Model.IsConfirmed)
				{
					<div class="informationalMessage">Email address is confirmed</div>
				}
				else
				{
					<div class="informationalMessage">Email address is not confirmed</div>
				}
			</p>
    </div>
</div>
