body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.namecol {
	width:90px
}

.matchTable{
    width:100%;
    border:thin;
    border-collapse:collapse;
    table-layout:fixed
}

.matchTable{
    width:100%;
    border:thin;
    border-collapse:collapse;
    table-layout:fixed
}

.playerScore{
    background-color: darkgray;
	text-align:center;
}

.wincolor {
	background-color: #d3dfd3;
	color: black;
	font-weight: bold;
}

.losscolor {
	background-color: #efd3d3
}


.centered {
	text-align:center;
}

.omwpList {
    background-color: lightblue
}

.tableHeader{
    background-color: #aaaaff
}

.keyplayer {
    background-color: lightgray
}

.opponentplayer {
	background-color: lightblue;
}

a.matchPopupLink {
    color: blue;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.errorTitle {
	background-color: red;
	border:solid;
	border-color:slategrey;
	text-align:center;
	color:white;
}

/*tr.loggedInUser{
	border: 3px solid red;
}*/

.loggedInUser.keyplayer{
	border: dashed #9999ff;
	background-color: #aa77ff;
}

/*.loggedInUser.opponentplayer{
	background-color: blue;
}*/

.prize{
	background-color: lightblue;
	text-align:center;
}

.noprize{
	background-color: #90D1D8;
	text-align:center;
}


/* Tooltip container */
.tooltipq {
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
	opacity: 1.0;
}

	/* Tooltip text */
	.tooltipq .tooltipqtext {
		visibility: hidden;
		width: 200px;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
		/* Position the tooltip text - see examples below! */
		position: absolute;
		z-index: 1;
	}

	.tooltipq .tooltipqtext {
		top: -5px;
		left: 105%;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.tooltipq:hover .tooltipqtext {
		visibility: visible;
	}

	.ui-dialog {
		background-color: aliceblue;
		outline-style:auto;
		outline-color:black
	}

.ui-state-default .ui-icon {
	background-image: url("../img/ui-icons_888888_256x240.png");
}